<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.BackEndBoxInfoMapper">

    <resultMap id="BoxInfoResult" type="com.ruoyi.project.storage.domain.BoxInfo">
        <id     property="id" column="id"/>
        <result property="boxCode" column="box_code"/>
        <result property="boxStandard" column="box_standard"/>
        <result property="boxUnitPrice" column="box_unit_price"/>
        <result property="usedBy" column="used_by"/>
        <result property="usedByName" column="used_by_name"/>
        <result property="isUsed" column="is_used"/>
        <result property="remark" column="remark"/>
        <result property="sortNo" column="sort_no"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="version" column="version"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <select id="queryBoxInfoList" parameterType="com.ruoyi.project.storage.domain.BoxInfo" resultMap="BoxInfoResult">
        SELECT
        info.id,
        info.box_code,
        info.box_standard,
        info.box_unit_price,
        info.used_by,
        sys.nick_name as used_by_name,
        info.is_used,
        info.remark,
        info.sort_no,
        info.create_time,
        info.create_by,
        info.update_time,
        info.update_by,
        info.version,
        info.del_flag
        FROM
        t_box_info info
        LEFT JOIN sys_user sys ON info.used_by = sys.user_id
        WHERE
        info.del_flag = '0'
        <if test="boxStandard != null and boxStandard != ''">
            and info.box_standard = #{boxStandard}
        </if>
        <if test="isUsed != null">
            and info.is_used = #{isUsed}
        </if>
        <if test="usedByName != null and usedByName != ''">
            and sys.del_flag = '0'
            and sys.nick_name like concat(#{usedByName}, '%')
        </if>
        order by update_time desc
    </select>

    <insert id="insertBoxInfo" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        insert into t_box_info(box_code,box_standard,box_unit_price,is_used,remark,create_by,create_time,update_by,update_time,version,del_flag)
        values
        <foreach item="item" collection="list" index="index" separator=",">
            (
            #{item.boxCode},
            #{item.boxStandard},
            #{item.boxUnitPrice},
            #{item.isUsed},
            #{item.remark},
            #{item.createBy},
            #{item.createTime},
            #{item.updateBy},
            #{item.updateTime},
            #{item.version},
            #{item.delFlag}
            )
        </foreach>
    </insert>

    <update id="deleteBoxInfo" parameterType="map">
        update t_box_info
        set del_flag = '2',
        update_time = #{time},
        update_by = #{user},
        version = version +1
        where
            is_used = 0
        and
            del_flag = '0'
        and id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>