<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.project.storage.mapper.OrderHistoryMapper">

    <insert id="insertOrderHistory" parameterType="long" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order_his (
            order_id,
            user_id,
            `status`,
            order_code,
            order_name,
            empty_box_order_time,
            empty_box_call_name,
            empty_box_call_phone,
            empty_box_call_address,
            empty_box_call_time,
            empty_box_call_interval,
            heavy_box_order_time,
            heavy_box_call_name,
            heavy_box_call_phone,
            heavy_box_call_address,
            heavy_box_call_time,
            heavy_box_call_interval,
            box_id,
            box_code,
            box_standard,
            box_unit_price,
            lease_duration,
            total_price,
            sort_no,
            create_time,
            create_by,
            update_time,
            update_by,
            version,
            del_flag,
            app_del_flag,
            backend_del_flag)
        SELECT
            id as order_id,
            user_id,
            `status`,
            order_code,
            order_name,
            empty_box_order_time,
            empty_box_call_name,
            empty_box_call_phone,
            empty_box_call_address,
            empty_box_call_time,
            empty_box_call_interval,
            heavy_box_order_time,
            heavy_box_call_name,
            heavy_box_call_phone,
            heavy_box_call_address,
            heavy_box_call_time,
            heavy_box_call_interval,
            box_id,
            box_code,
            box_standard,
            box_unit_price,
            lease_duration,
            total_price,
            sort_no,
            create_time,
            create_by,
            update_time,
            update_by,
            version,
            del_flag,
            app_del_flag,
            backend_del_flag
        from t_order
        where id = #{id}
    </insert>

</mapper>