<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.storage.mapper.PasswordMapper">

    <select id="queryOldPassword" parameterType="Map" resultType="string">
        SELECT
            `password`
        FROM
            sys_user
        WHERE
            user_id = #{id}
          and
            user_type = #{msg}
    </select>

    <update id="updatePassword" parameterType="com.ruoyi.project.storage.domain.User">
        update
            sys_user
        set
            `password` = #{password},
            update_by = #{updateBy},
            update_time = #{updateTime},
            version = version + 1
        where
            user_id = #{userId}
          and
            user_type = #{userType}
    </update>

</mapper>